@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Red Hat Display';
        font-weight: 500;
        src: url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
    }
    @font-face {
        font-family: 'Red Hat Display';
        font-weight: 700;
        src: url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
